
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
   background: linear-gradient(to right, #9c95dc, #c19ab7);
   color: #170a1c;
   line-height: 1.6;
   text-shadow: 0 0 5px rgba(1, 1, 1, 0.5);
   
}
nav {
    position: fixed;
    top: 10px;
    z-index: 1000;
}

.dropdown {
    display: inline-block;
    position: relative;
    top: 10px;
    right: 20px;
    left: 10px;
    z-index: 1000;
    max-width: 100px;
}

.dropbtn {
    display: inline-block;
    position: relative;
    background-color: #38bdf8;
    max-width: 100px;
    color: #020617;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    z-index: 1000;
    bottom: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #020617;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 6px;
    padding: 10px 10px;
    z-index: 1000;
}

#options-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

a {
    color: #38bdf8;
    text-decoration: none;
    padding: 5px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.container {
    max-width: 595px;
    max-height: 842px;
    margin: 40px auto;
    padding: 30px;
    background: #228cdb;
    border-radius: 12px;
    box-shadow: 0 0 40px black;
    border: 1px solid rgba(0, 0 , 139, 0.5);
    
}

header {
    text-align: cente;
    margin-top: 10px;
    margin-bottom: 10px;
}

#hero {
    display: flex;
    justify-content: space-around;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 22px;
}


#profile-img {
    width: 150px;
    height: 145px;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
}

header h2 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;

}

.buttons {
    margin-top: 5px;
}


#btn {
    display: inline-block;
    padding: 4px 8px;
    background-color: #38bdf8;
    color: #020617;
    text-decoration: none;
    border: 0px;
    border-radius: 6px;
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 0px;
}

#contact-section {
    margin-bottom: 15px;
    margin-right: 15px;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(255,255,255,0.25);
}

.contact-btns {
    display: flex;
    padding: 10px;
}

#git-btn {
    background-color: transparent;
    width: 15px;
    height: 15px;
    background-image: url("./images/GitHub_Invertocat_White.png");
    background-size: cover;
    border: 0px;
    margin-right: 5px;
}

#placeholder-btn {
    background-color: transparent;
    width: 15px;
    height: 15px;
    background-image: url("./images/placeholder.png");
    background-size: cover;
    border: 0px;
    margin-right: 5px;
}

#mail-btn {
    background-color: transparent;
    width: 15px;
    height: 15px;
    background-image: url("./images/mail.png");
    background-size: cover;
    border: 0px;
    margin-right: 5px;
}

#in-btn {
    background-color: transparent;
    width: 15px;
    height: 15px;
    background-image: url("./images/InBug-White.png");
    background-size: cover;
    border: 0px;
    margin-left: 2px;
}

.link-decor {
    text-decoration: none;
    color:white;
}

section {
    margin-bottom: 10px;
    font-size: 12px;

}

h3 {
    color: #170a1c;
    margin-bottom: 10px;

}

.color-subtitle {
    color: #38bdf8;
    margin-bottom: 10px;
}

ul {
    border-left: 2px solid white;
    border-radius: 10px;
    list-style: none;
    padding: 5px;
}

ul li {
    padding: 5px 0;
}

.vertical {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    border: 0px;

}

#skills-section {
    padding-right: 0px;
    margin-left: -10px;
}

#profile-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

#profile-section {
    width: 400px;
    padding-left: 10px;
    border-left: 2px solid white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.sum-padding {
    padding-left: 10px;
}

.project {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-left: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.project a {
    color:#38bdf8;
    text-decoration: none;
}

.container-1 {
    display: grid;
    grid-template-rows:  110px 110px;
    grid-template-columns: 10px 105px 100px 100px;
}

.item {
    padding: 7px;
}

.item-1 {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    border-right: solid 1px rgba(255,255,255,0.25);
    border-radius: 2px;
}

.item-2 {
    grid-row: 1 / 2;
    grid-column: span 2;

    border-bottom: solid 1px rgba(255,255,255,0.25);
    border-radius: 2px;
}

.item-3 {
    grid-row: 2 /3;
    grid-column: 2 / 4;

    border-top: 1px solid rgba(255,255,255,0.25);
    border-radius: 2px;
}

.item-4 {
    grid-row: 2 /3;
    grid-column: span 2;
    border-left: solid 1px rgba(255,255,255,0.25);
    border-radius: 2px;

}

#experience {
    margin-left: 70px;
    padding-left: 10px;
    border-left: 2px solid white;
    border-radius: 10px;

}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 10px;
    opacity: 0.6;
}

